In [7]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# reading csv
df = pd.read_csv('Top_1000_Highest_Grossing_Movies_Of_All_Time.csv')
df.head() # prints first 5 columns

,Movie Title,Year of Realease,Genre,Movie Rating,Duration,Gross,Worldwide LT Gross,Metascore,Votes,Logline
0,Avatar,2009,"Action,Adventure,Fantasy",7.8,162,$760.51M,"$2,847,397,339",83,"1,236,962",A paraplegic Marine dispatched to the moon Pan...
1,Avengers: Endgame,2019,"Action,Adventure,Drama",8.4,181,$858.37M,"$2,797,501,328",78,"1,108,641",After the devastating events of Avengers: Infi...
2,Titanic,1997,"Drama,Romance",7.9,194,$659.33M,"$2,201,647,264",75,"1,162,142",A seventeen-year-old aristocrat falls in love ...
3,Star Wars: Episode VII - The Force Awakens,2015,"Action,Adventure,Sci-Fi",7.8,138,$936.66M,"$2,069,521,700",80,"925,551","As a new threat to the galaxy rises, Rey, a de..."
4,Avengers: Infinity War,2018,"Action,Adventure,Sci-Fi",8.4,149,$678.82M,"$2,048,359,754",68,"1,062,517",The Avengers and their allies must be willing ...

In [3]:
# hape attribute
df.shape

(1000, 10)

In [4]:
df.info()  # gives info of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Movie Title         1000 non-null   object
 1   Year of Realease    1000 non-null   object
 2   Genre               1000 non-null   object
 3   Movie Rating        1000 non-null   float64
 4   Duration            1000 non-null   int64
 5   Gross               1000 non-null   object
 6   Worldwide LT Gross  1000 non-null   object
 7   Metascore           1000 non-null   object
 8   Votes               1000 non-null   object
 9   Logline             1000 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 78.2+ KB

In [5]:
df.describe() # gives statistical insights

       Movie Rating     Duration
count    1000.00000  1000.000000
mean        6.80080   117.679000
std         0.90145    21.561885
min         2.50000    69.000000
25%         6.20000   102.000000
50%         6.80000   116.000000
75%         7.40000   130.000000
max         9.20000   238.000000

In [6]:
df.isnull().sum()  # to check null values

Movie Title           0
Year of Realease      0
Genre                 0
Movie Rating          0
Duration              0
Gross                 0
Worldwide LT Gross    0
Metascore             0
Votes                 0
Logline               0
dtype: int64